.dice-stats {
  text-align: center;
  flex: 1 100%;
  width: 100%;
  color: white; }
  .dice-stats header {
    background-color: #242528;
    height: 150px;
    padding: 5px;
    margin: 0px; }
    .dice-stats header .dice-logo {
      height: 100px;
      margin: 0px auto; }
    .dice-stats header .title {
      margin: 0px;
      font-size: 28px; }
  .dice-stats .wrapper {
    display: flex; }
    .dice-stats .wrapper .input-and-damage {
      background-color: #242528;
      height: calc(100vh - 160px);
      flex-flow: row wrap;
      order: 1;
      flex: 1; }
      .dice-stats .wrapper .input-and-damage h2 {
        margin: 10px 0px; }
      .dice-stats .wrapper .input-and-damage .inputs {
        padding: 5px;
        display: flex;
        min-height: 25px; }
        .dice-stats .wrapper .input-and-damage .inputs span {
          order: 1;
          flex: 1; }
        .dice-stats .wrapper .input-and-damage .inputs input {
          order: 2;
          flex: 1;
          margin-right: 10px; }
      .dice-stats .wrapper .input-and-damage .ac-input {
        padding: 5px;
        display: flex; }
        .dice-stats .wrapper .input-and-damage .ac-input span {
          order: 1;
          flex: 1; }
        .dice-stats .wrapper .input-and-damage .ac-input .ac-start {
          order: 2;
          flex: 1;
          margin-right: 10px; }
        .dice-stats .wrapper .input-and-damage .ac-input .ac-end {
          order: 4;
          flex: 1;
          margin-right: 10px; }
      .dice-stats .wrapper .input-and-damage .dice-inputs {
        display: flex; }
        .dice-stats .wrapper .input-and-damage .dice-inputs .die-field {
          flex: 1;
          margin-top: 10px; }
          .dice-stats .wrapper .input-and-damage .dice-inputs .die-field input, .dice-stats .wrapper .input-and-damage .dice-inputs .die-field select {
            display: inline-block;
            width: 45px;
            margin-left: 15px; }
          .dice-stats .wrapper .input-and-damage .dice-inputs .die-field select {
            color: #000;
            background: #fff; }
        .dice-stats .wrapper .input-and-damage .dice-inputs .subtract-die {
          text-align: center;
          margin-top: 7px;
          margin-right: 10px;
          padding: 3px 5px; }
          .dice-stats .wrapper .input-and-damage .dice-inputs .subtract-die:hover {
            background-color: #37383b;
            cursor: pointer; }
          .dice-stats .wrapper .input-and-damage .dice-inputs .subtract-die:active {
            color: #242528;
            background-color: #fafafa;
            cursor: pointer; }
      .dice-stats .wrapper .input-and-damage .add-die {
        border: 2px solid #999;
        width: 100px;
        padding: 5px;
        margin: 5px auto;
        border-radius: 3px; }
        .dice-stats .wrapper .input-and-damage .add-die:hover {
          background-color: #37383b;
          cursor: pointer; }
        .dice-stats .wrapper .input-and-damage .add-die:active {
          color: #242528;
          background-color: #fafafa;
          cursor: pointer; }
      .dice-stats .wrapper .input-and-damage .damage-numbers {
        display: flex;
        margin-top: 10px; }
        .dice-stats .wrapper .input-and-damage .damage-numbers > div {
          flex: 1;
          flex-direction: column;
          display: flex; }
          .dice-stats .wrapper .input-and-damage .damage-numbers > div .damage-average {
            font-size: 32px; }
    .dice-stats .wrapper .data-table {
      background-color: #fafafa;
      color: #242528;
      height: calc(100vh - 160px);
      overflow: scroll;
      flex-flow: row wrap;
      order: 2;
      flex: 3; }
      .dice-stats .wrapper .data-table .no-attacks {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 15px; }
