.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  margin: 0px auto;
}

.App-header {
  background-color: #242528;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.col-md-3 .atkForm{
    color:#fff;
}


body{
    background:#fafafa;
}

.acTable{
    width:100%;
}

.damDieForm .dieField, .atkForm span, .atkFormLabel span, .atkFormLabel input{
    width: 46%;
    margin: 0px 5px;
    display:inline-block;
}

.damageDiceNum .number{
    font-size:30px;
}

.atkForm{
    margin-top: 15px;
}

.atkFormLabel{
    width: 100%;
}

.container{
    width:100%;
}

.col-md-3{
    background:#242528;
    position: relative;
    padding:0px;
}

.switcherBtn {
    width:100%;
    height:45px;
    background: #242528;
    border:none;
    border-radius:0px;
    color:#fafafa;
}

.switcherBtn:hover, .switcherBtn.active:hover{
    background: #353639;
}
    
.switcherBtn.active{
    background: #121314;
}

.col-md-3 > h2{
    color:#fff;
}

.col-md-9{
    padding: 10px 20px;
    background:#fff;
}

.displayStats{
    background: #fff;
}

.imageHolder{
    position: relative;
    width:100px;
    margin: 0px auto;
}

.imageHolder .percentSign{
    color:#242528;
    position: absolute;
    left:42.5px;
    font-size: 22px;
    font-weight: bold;
    top:37px;
}

.submitAtk{
    background:#f1f1f1;
    border:none;
    padding:2px 15px;
    border-radius:1px;
}

tr > tr {
    border-bottom: solid 2px #242528;
}

tr > tr:nth-child(even) {
    background:rgba(229,138,48,.3);
}

tr > tr > th {
    padding-right: 15px;
}

tr:hover > th {
    background:rgba(0,225,0,.65);
        transition-duration: 1s;
}

.addDamDie{
    background:#ccc;
}

.damDieForm div.damDiceContainer {
    height:0px;
    transition-duration: .75s;
    overflow:hidden;
}

.damDieForm .damDiceContainer.open {
    height:100px;
    transition-duration: .75s;
}

.dieField{
    padding-bottom: 5px;
}

.dieField select{
    color:#000;
    background: #fff;
}

.damageDrop{
    transform: rotate(90deg);
    font-size: 20px;
    transition-duration: .75s;
}

.damageDrop.open{
    transform: rotate(270deg);
    transition-duration: .75s;
}

.dieField input[type="tel"] {
    width:30px
}

@media (max-width:767px){
    .App-logo {
      height: 50px;
      margin: 0px auto;
    }

    .App-header {
      background-color: #242528;
      height: auto;
      padding: 20px;
      color: white;
    }
    
    .imageHolder .percentSign{
        color: #242528;
        position: absolute;
        left: 45.5px;
        font-size: 13px;
        font-weight: bold;
        top: 17px;
    }
}