#hitThis{
    .initiative-list {
        z-index: 1;
        background-color: #242528;
        height: calc(100vh - 90px);
        flex-flow: row wrap;
        order: 1;
        flex: 2;
        
        .title-and-options {
            display: flex;
            flex-direction: row;
            margin-left:20px;
        
            .button {
                margin-top: 14px;
                
                span {
                    display:inline-block;
                    padding: 0 5px;
                    font-size: 1.5em;
                }
            }
        }
        
        .character {
            margin: 10px;
            height: 100px;
            border: 2px solid #fafafa;
            border-radius: 5px; 
            background-color: #fafafa;
            display: flex;
            flex-direction: row;
            
            .initiative{
                background: #242528;
                width: 80px;
                height: 100%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                
                span {
                    margin: 10px 0;
                    font-size: 1.25em;
                }
                
                h2 {
                    margin-top: 0;
                }
            }
            
            .character-stats {
                color: #242528;
                font-weight: bold;
                padding: 10px 8px;
                display: flex;
                flex-direction: column;
                text-align: left;
                
                .character-name {
                    font-size: 1.5em;
                }
                
                .current-health {
                    width: 30px;
                }
                
                .health-and-ac, .conditions {
                    margin-top: 5px;
                    
                    span {
                        margin-right: 20px;
                    }
                }
                
                .conditions {
                    span {
                        margin-right: 5px;
                    }
                }
                
            }
        }
    }
    .character-info {
        z-index: 1;
        background-color: #fafafa;
        color: #242528;
        height: calc(100vh - 90px);
        overflow: scroll;
        flex-flow: row wrap;
        order: 2;
        flex: 3;
    }
    
    
    .add-characters-modal-wrapper {
        #add-characters-modal {
            display: none;
            background-color: #242528;
            margin-left: auto;
            margin-right: auto;
            z-index: 3;
            left: 50%;
            top: 150px;
            position: absolute;
            width: 500px;
            height: 600px;
            border-radius: 10px;
            transform: translateX(-50%);
            border: 2px solid #fafafa;
        }
        
        &.show {
            position: absolute;
            top: 0;
            z-index: 2;
            width: 100vw;
            height: 100vh;
            background-color: rgba(180, 180, 180, 0.6);
            
            #add-characters-modal {
                display: block;
            }
        }
    }
    
    .add-character-info {
        display: flex;
        flex-direction: column;
        
        span {
            margin-right: 10px;
        }
        
        > div {
            margin-left: 20px;
            text-align: left;
        }
    }
    
    .character-modal-title {
        display: flex;
        flex-direction: row;
        
        h2{
            margin-left: 20px;
        }
        
        .button {
            margin-right: 6px;
            border: none;
            padding-top: 15px;
            font-size: 1.25em;
            width: 40px;
        }
    }
    
    .character-settings {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}