.wrapper {
        display: flex;

        .input-and-damage {
          background-color: #242528;
          height: calc(100vh - 90px);
          flex-flow: row wrap;
          order: 1;
          flex: 1;
          h2{
            margin: 10px 0px;
          }
          .inputs{
            padding: 5px;
            display:flex;
            flex-flow: row;
            min-height: 25px;
            span{
              flex:1;
            }
            input{
              flex:1;
              margin-right: 10px;
            }
          }
          .ac-input{
            padding: 5px;
            display:flex;
            span{
              order: 1;
              flex: 1;
            }
            .ac-start{
              order: 2;
              flex: 1;
              margin-right: 10px;
            }
            .ac-end{
              order: 4;
              flex: 1;
              margin-right: 10px;
            }
          }
          .dice-inputs{
            display:flex;
            .die-field{
              flex: 1;
              margin-top: 10px;
              input, select {
                display:inline-block;
                width:45px;
                margin-left: 15px;
              }
              select{
                color: #000;
                background: #fff;
              }
            }
              .subtract-die{
                  text-align: center;
                  margin-top: 7px;
                  margin-right: 10px;
                  padding: 3px 5px;
                  &:hover {
                    background-color: #37383b;
                    cursor:pointer;
                  }
                  &:active {
                    color: #242528;
                    background-color: #fafafa;
                    cursor:pointer;
                 }
              }
          }
            .add-die{
                border: 2px solid #999;
                width: 100px;
                padding: 5px;
                margin: 5px auto;
                border-radius: 3px;
                &:hover{
                    background-color: #37383b;
                    cursor:pointer;
                }
                &:active{
                    color: #242528;
                    background-color: #fafafa;
                    cursor:pointer;
                }
            }
          .damage-numbers{
            display:flex;
            margin-top:10px;
            > div{
              flex:1;
              flex-direction: column;
              display:flex;
              .damage-average{
                font-size: 32px;
              }
            }
          }
    }
    .data-table {
      background-color: #fafafa;
      color: #242528;
      height: calc(100vh - 90px);
      overflow: scroll;
      flex-flow: row wrap;
      order: 2;
      flex: 3;

      .no-attacks{
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 15px;
      }
    }
}